Source: nomweather
Section: user/navigation
Priority: extra
Maintainer: Sander <sander@kroket.io>
Build-Depends: debhelper (>= 10),
    qt6-base-dev,
    ccache,
    cmake,
    libx11-dev,
    zlib1g-dev,
    libpng-dev,
    libssl-dev,
    qt6-svg-dev,
    qt6-charts-dev,
    qt6-multimedia-dev,
    qt6-webengine-dev
Homepage: https://github.com/maemo-leste-extras/nomweather
XSBC-Bugtracker: https://github.com/maemo-leste-extras/nomweather/issues
Vcs-Git: https://github.com/maemo-leste-extras/nomweather/
Vcs-Browser: https://github.com/maemo-leste-extras/nomweather/


Package: nomweather
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    libqt6charts6,
    libqt6quickcontrols2-6,
    libqt6quickcontrols2impl6,
    libqt6network6,
    libqt6-qpa-maemo,
    libqt6-style-maemo,
    qml6-module-qtcharts,
    qml6-module-qtquick,
    qml6-module-qtquick-layouts,
    qml6-module-qtquick-controls,
    qml6-module-qtquick-dialogs,
    qml6-module-qtqml-workerscript
Description: Maemo Leste weather forecast app
XB-Maemo-Display-Name: Maemo Weather
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAEZ0lEQVRYw+1W
 W29UVRT+1j77dKYzAzPt4LSFQi+BYimllktFMYY0VLAqIRr6gMRgTJREHwwv
 +mA0/gXfNCaiD/rgA2B8EqMkVOMDitSKSSkgBStth047c+Zybnv5MJfOrYwh
 vjnfSmbOnLNnfXudb69vb6COOuqooyZo1fsEHRIMGy4Y/N8SELw97c8NdG6w
 3ckbZyZi87AflIIqfgsQfE/vPPHKQ4OOTkTp6e8/+PjqFKwHI9BKkkut6WDf
 6ECka+zl0J6YnbRTtikj29cHzl+BUaUGKosqkEXXwt/67otDhz1+FTOCyZSe
 TWibqQ37n/hmfL6sBgIgIKFDA0HBhlNNLbkye6w9Ojx43JJJk5qYPYWB5Lge
 tQUXS3QgCDTAj7WB5i1Br/wrNbOIGBLIwAGKSWRueOBI/7N724c05RqevBKU
 Hxgyx7oiO85OwIAqpPch3L/5xL5HBppahZ5OzNz4+scvf87MIg5r5Z95DTzP
 P/b6O5v3603sSiVZkhSSJElkoxE9nTv7zduTs1AQ0CDhR+uxJ986ue2A2Xqv
 MeZxm1u27h3aGpqYSxiwc9PIExzDb80vnex73EqCJUtISE1SMYEGh7xtmYbz
 l0EIIoQQIqOPvvpaQ8ftZDxtWbadMpdMy7O5f6N//LqdgLVSgQQ+J/iubRx2
 vJwrHlVWBJvuH93Y1I4jvb3rM9aVhYOHtPBCnJSeT+WkjShvPzB2/XQUaag8
 RVaD9IW5kcHdwlElqYukEnRV/y45sufUyKZepYnMM9FF71xKUyWTUE6qIdQ3
 HLho3INZLDIjfuPsh9vSrR2mUGCqSO+KW/KTqHf2zePhtluGbUBJv2KhRFbw
 lZFKpWR7pMOYgoBbXIGFHy68NzkcCekWGAQml1wwACJmkfHNquXr7w+tDUcX
 2dYZAGnQKhuLhb0sjRDWwEAm2xNZAoU4xqO/RD0QhdfDhdUebGo50L4ruKvF
 Tki7sFDzL7OksUi1p0Z9366/Y2MxqwTVcCYvIod3v3G0ewt4iRKAggKDCp1S
 XgL5eF1q7uZH5z69hHmkwFoNpwru2/n2qQ0DMXeZHRb5gKBcQCD3CQEBDQpp
 b7Cj7+G7t64tIAUW93VaHeFDo+GehMGWzjp06FQS0KEj96QQ5BqZQOdTowhD
 lJpdJfRAG+9yXc3WuPACy52TqrisUo7b3xSJTdUioKT/8poRt5FLHDT7Taum
 B+CoK75lH6gWgeL4T0szwR3CzXcmlS0Gri7dHTm+qJJgQNyXwMHdvy+dkban
 gSRp0KBBIy1/VTUkdGL5lf7nBObApTtadSRudhsbO9mvNBBARILuBxYL+mn/
 F9fSn2EaRnkfVNn8sQ4D8oWuwQ7vGpucIiNmUoX9iwBiAhMLQ85Y07/b5/Ar
 FpCuTUDwIIgWdKMNBBd5O1RQcMFQBe9VUAAkBKKYwTyWsmZBNU8dBA0eeNEA
 kVs9XCEwFcwFULBhwoSTvUP/8mCz6qmh0vAKVA98WKujjjr+d/gHP2jG7ba8
 qgwAAAAASUVORK5CYII=
