Source: nomweather
Section: user/navigation
Priority: extra
Maintainer: Sander <sander@kroket.io>
Build-Depends: debhelper (>= 10),
    qt6-base-dev,
    ccache,
    cmake,
    libx11-dev,
    zlib1g-dev,
    libpng-dev,
    libssl-dev,
    qt6-svg-dev,
    qt6-charts-dev,
    qt6-multimedia-dev,
    qt6-webengine-dev,
    qt6-sql-sqlite,
    libqt6sql6-sqlite
Homepage: https://github.com/maemo-leste-extras/nomweather
XSBC-Bugtracker: https://github.com/maemo-leste-extras/nomweather/issues
Vcs-Git: https://github.com/maemo-leste-extras/nomweather/
Vcs-Browser: https://github.com/maemo-leste-extras/nomweather/


Package: nomweather
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    libqt6chartsqml6,
    libqt6charts6,
    libqt6quickcontrols2-6,
    libqt6quickcontrols2impl6,
    libqt6network6,
    qml6-module-qtcharts,
    qml6-module-qtquick-controls2,
    qml6-module-qtquick2,
    qml6-module-qtquick-layouts,
    qml6-module-qtquick-controls,
    qml6-module-qtquick-extras,
    qml6-module-qtquick-dialogs
Description: Maemo Leste weather forecast app
XB-Maemo-Display-Name: Maemo Weather
