[Desktop Entry]
Name=Weather
GenericName=Weather
Exec=nomweather
Icon=/usr/share/nomweather/nomweather.png
Terminal=false
Type=Application
Categories=Utility;
